body {
  background-color: #1d5fb6;
}

h1 {
  font-family: "Helvetica";
  font-size: 70px;
  font-variant: normal;
  text-align: center;

}

h2 {
  font-family: "Helvetica";
  font-size: 30px;
  font-variant: normal;
  text-align: center

}

ul {

}

.jumbotron {
  background-color: #dd5428;
  font-family: "Helvetica";
  font-size: 55px;
  font-variant: normal;
  text-align: center;

}
